@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "TRON";
  src: url("/fonts/tron.woff2") format("woff2"),
    url("/fonts/tron.woff") format("woff");
  /* You can add more font formats if necessary */
  font-weight: normal;
  font-style: normal;
}

/* Apply the custom font using Tailwind CSS classes */
.custom-font {
  font-family: "TRON", sans-serif;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
